html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;
		background-color: HoneyDew;
}

#top h1{margin : 10px 0 20px 100px; 
	font-size: 30px ;
	color:RoyalBlue}


#main {margin-left: 100px; font-size: 15px;}

.name input{
	background-color:ivory;
	width: 100px;
}


.red{color: red; font-size: 10px}


#bottom{margin-left: 100px; font-size: 20px; color: HotPink;}

a:visited{text-decoration:none; color: red;}
a:hover{text-decoration:none; color: blue;}
