html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;
		
		background-color: AliceBlue;
		font-size: 15px;
}

.red{color: red; font-size: 20px}

#top{font-size: 15px;}
#top a:visited{text-decoration:none; color: orange;}
#top a:hover{text-decoration:none; color: blue;}

span.title{
	margin: 0 5px 10px 5px;
	color:Plum;
	font-size: 30px; 
	background-color: WhiteSmoke ;
	font: bold;}

caption {
	text-align: right;
	background-color: black;
	color: white;}

#animal table {
	border-style: dotted;
	background-color: black;
	width: 700px;
	text-align: center;
	border-collapse: collapse; 
 	}

#animal img{
 	width: 400px;
 	height: 200px;
 	border: 10px;
 }


#music table { 
	border-style:outset;
	width: 350px; text-align: left; }

#music table th{ text-align: center;}
#music table tfoot{ font-style: italic; text-align: right;}


#bottom {font-size: 20px; color: HotPink;}
#bottom a:visited{text-decoration:none; color: red;}
#bottom a:hover{text-decoration:none; color: blue;}

