html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;

}

h1{margin : 10px 0 20px 450px; 
	font-size: 30px ;
	color:navy}

#wrap{width:1000px;
			margin:0 auto;
			background-color:#fff
}


#left{float:left;}

#right {font-size: 15px ; margin-top: 50px;}


#right_text a:visited{text-decoration:none; color: red;}
#right_text a:hover{text-decoration:none; color: blue;}

span.maroon{font-size:20px; color:maroon; margin:0 5px 0 20px;}
span.gray{font-size:10px; color:gray ; padding:2px;}